<ion-content>
  <div class="container">
    <div class="shop-content">
      @if(cart && cart.products && cart.products.length > 0) {
      <div
        class="shop-content-title"
        [ngClass]="(step === steps.DELIVERY) ? '' : 'invisible'"
      >
        Delivery information
      </div>
      <form
        class="shop-content-form"
        [ngClass]="(step === steps.DELIVERY) ? '' : 'invisible'"
      >
        <div class="shop-content-form-row">
          <app-styled-input
            [required]="true"
            [name]="'name'"
            [value]="formDeliveryData.name"
            [placeholder]="'Name*'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
          <app-styled-input
            [required]="true"
            [name]="'lastname'"
            [value]="formDeliveryData.lastName"
            [placeholder]="'Last Name*'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
        </div>
        <app-styled-input
          [required]="true"
          [name]="'address'"
          [value]="formDeliveryData.address"
          [placeholder]="'Address*'"
          (valueChanged)="formIsValid()"
          [submitted]="formDeliverySubmitted"
        ></app-styled-input>
        <div class="shop-content-form-row">
          <app-styled-input
            [required]="true"
            [name]="'zipcode'"
            [value]="formDeliveryData.zipCode"
            [placeholder]="'Zip Code*'"
            [type]="'zipCode'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
          <app-styled-input
            [required]="true"
            [name]="'city'"
            [value]="formDeliveryData.city"
            [placeholder]="'City*'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
          <app-styled-input
            [required]="true"
            [name]="'country'"
            [value]="formDeliveryData.country"
            [placeholder]="'Country*'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
        </div>
        <div class="shop-content-form-row">
          <app-styled-input
            [required]="true"
            [name]="'email'"
            [value]="formDeliveryData.email"
            [placeholder]="'E-mail*'"
            [type]="'email'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
          <app-styled-input
            [required]="true"
            [name]="'phone'"
            [value]="formDeliveryData.phone"
            [placeholder]="'Phone Number*'"
            [type]="'phone'"
            (valueChanged)="formIsValid()"
            [submitted]="formDeliverySubmitted"
          ></app-styled-input>
        </div>
      </form>
      <div
        class="shop-content-form-submit"
        [ngClass]="(step === steps.DELIVERY) ? '' : 'invisible'"
      >
        <app-styled-button
          [disabled]="!formDeliveryValid"
          (click)="submitForm()"
          [text]="'Go to payment methods'"
        ></app-styled-button>
      </div>
      } @if(cart && cart.products && cart.products.length > 0 && step === steps.PAYMENT) {
      <div class="shop-content-title">Payment</div>
      <form class="shop-content-form">
        <div class="shop-content-form-row" >
          <app-styled-input
            [required]="true"
            [name]="'card'"
            [value]="formPaymentData.card"
            [placeholder]="'Credit Card*'"
			[type]="'card'"
            [submitted]="formPaymentSubmitted"
          ></app-styled-input>
        </div>
        <div class="shop-content-form-row">
          <app-styled-input
            [required]="true"
            [name]="'expiration'"
            [value]="formPaymentData.expirationDate"
            [placeholder]="'Expiration Date*'"
            [type]="'expirationDate'"
            [submitted]="formPaymentSubmitted"
          ></app-styled-input>
          <app-styled-input
            [required]="true"
            [name]="'cvv'"
            [value]="formPaymentData.cvv"
            [placeholder]="'CVV*'"
            [type]="'cvv'"
            [submitted]="formPaymentSubmitted"
          ></app-styled-input>
        </div>
        <div class="shop-content-form-row">
          <app-styled-input
            [required]="true"
            [name]="'name'"
            [value]="formPaymentData.name"
            [placeholder]="'Name*'"
            [submitted]="formPaymentSubmitted"
          ></app-styled-input>
        </div>
      </form>
      <div class="shop-content-form-submit">
        <app-styled-button
          (click)="goToDeliveryOptions()"
          [text]="'Go to delivery options'"
        ></app-styled-button>
        <app-styled-button
          (click)="submitPaymentForm()"
          [text]="'Pay'"
        ></app-styled-button>
      </div>
      }
    </div>
    <div class="shop-summary">
      <h1 class="shop-summary-title">In your bag</h1>
      <p class="shop-summary-subtitle">
        <span>Subtotal:</span><span>{{totalPrice | number : '1.2-2' }}€</span>
      </p>
      <p class="shop-summary-subtitle">
        <span>Estimated Delivery & Handling</span><span>Free</span>
      </p>
      <p class="shop-summary-total">
        <span>Total</span><span>{{totalPrice | number : '1.2-2'}}€</span>
      </p>
      <p class="shop-summary-arrival">{{arrival}}</p>
      @if(cart && cart.products && cart.products.length > 0) {
      <div class="shop-summary-order">
        @for(cartProduct of cart.products; track cartProduct.productId) {
        <app-product-summary-checkout
          [cartProduct]="cartProduct"
          [products]="products"
        ></app-product-summary-checkout>
        }
      </div>
      }
    </div>
  </div>
</ion-content>
