.img {
  width: 32px;
  padding: 0.25rem;
  margin: auto 0;
  cursor: pointer;
}

.header {
  color: var(--ion-color-primary);
  background-color: var(--ion-color-primary-contrast);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  padding: 0 8px;
  &-logo {
    flex: 1;
    margin: auto;
  }
  &-nav {
    flex: 9;
    margin: auto;
    &-categories {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 18px;
	  height: 36px;
	
      &-category {
        cursor: pointer;
		margin-top: auto;
        color: var(--ion-color-primary-tint);
		height: 24px;
        &:hover {
          color: var(--ion-color-primary);
		  font-weight: bold;
		  border-bottom: 1px solid;
        }
        &.selected {
			color: var(--ion-color-primary);
			font-weight: bold;
			border-bottom: 1px solid;
        }
      }
    }
  }
  &-icons {
    flex: 2;
    margin: auto;
    &-icon {
      padding-right: 0.5rem;
      cursor: pointer;
      &:hover {
        animation-name: getLarge;
        animation-duration: 0.25s;
        scale: 1.1;
      }
      &-cart {
        &-badge {
          position: absolute;
          top: 15px;
          right: 3.4rem;
          opacity: 0.9;
          &-text {
            font-size: 12px;
          }

          & ~ ion-icon {
            margin-right: 1.2rem;
          }
        }
      }
    }
  }
}

ion-icon {
  color: var(--ion-color-primary-tint);
  &:hover {
    color: var(--ion-color-primary);
  }
}

@keyframes getLarge {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}
