<!--<ion-header class="h-9 text-stone-800 bg-stone-300 p-1 text-xs shadow-none">
  <div class="flex flex-row mt-auto justify-between h-full">
    <div class="flex mt-auto mb-auto w-1/2 md:w-1/3 justify-start">
      <img class="w-5" src="./../../../assets/icon/favicon.png" />
    </div>
    <div class="md:flex h-full w-1/3 justify-center hidden md:visible">
      <span class="mt-auto mb-auto">Skip to main content</span>
    </div>
    <div class="flex h-full w-1/2 md:w-1/3">
      <ul class="flex gap-5 w-full mt-auto mb-auto pr-4 justify-end">
        <li>Find a Store</li>
        <li>Help</li>
        <li>Join Us</li>
        <li>Sign in</li>
      </ul>
    </div>
  </div>
</ion-header>
<ion-header class="h-15 text-stone-800 bg-stone-100 p-1 text-xs shadow-none">
  <div class="flex flex-row mt-auto justify-between h-full">
    <div class="flex mt-auto mb-auto w-1/2 md:w-1/3 justify-start">
      <svg
        aria-hidden="true"
        class="swoosh-svg"
        focusable="false"
        viewBox="0 0 24 24"
        role="img"
        width="60px"
        height="60px"
        fill="none"
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          d="M21 8.719L7.836 14.303C6.74 14.768 5.818 15 5.075 15c-.836 0-1.445-.295-1.819-.884-.485-.76-.273-1.982.559-3.272.494-.754 1.122-1.446 1.734-2.108-.144.234-1.415 2.349-.025 3.345.275.2.666.298 1.147.298.386 0 .829-.063 1.316-.19L21 8.719z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </div>
    <div class="flex h-full w-1/3 justify-center">
      <ul class="flex gap-5 w-full mt-auto mb-auto pr-4 justify-end">
        <li>New & Featured</li>
        <li>Men</li>
        <li>Women</li>
        <li>Kids</li>
      </ul>
    </div>
    <div class="flex h-full w-1/3">
      <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
    </div>
  </div>
</ion-header>-->

<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col
        ><img class="img" src="./../../../assets/icon/favicon.png"
      /></ion-col>
      <ion-col>
        <ion-icon
          (click)="handleOnClick($event)"
          class="ion-float-end header-icon"
          name="menu-outline"
          size="large"
        ></ion-icon>

        <ion-icon
          (click)="handleOnClick($event)"
          class="ion-float-end header-icon"
          name="cart-outline"
          size="large"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
