<div class="product-card" (click)="goToProductDetails()">
	<div class="product-card-image">
		<img [alt]="'Image of ' + product.title" [src]="product.image" />
	</div>
	<div class="product-card-text">
		<div class="product-card-text-name">
			<p class="product-card-text-name-title">
				{{product.title}}
			</p>
			<span class="product-card-text-name-category">
				{{product.category}}
			</span>
		</div>
		<div clasS="product-card-text-price">
			{{product.price}}€
		</div>
	</div>
</div>