<ion-content>
  @if(product) {
  <main class="container">
    <div class="product-image">
      <img [src]="product.image" alt="product.name" />
    </div>
    <div class="product-info">
      <h2 class="product-info-name">{{product.title}}</h2>
      <p class="product-info-category">{{product.category | titlecase }}</p>
      <p class="product-info-price">{{product.price}}€</p>
      <p class="product-info-price-note">incl. of taxes</p>
      <p class="product-info-price-note">
        (Also includes all applicable duties)
      </p>
	  <styled-button (click)="addToCart()" [text]="'Add to cart'"></styled-button>
      <p class="product-info-description">{{product.description}}</p>
    </div>
  </main>
  }
</ion-content>
