.container {
  padding: 32px;
}
.category {
  &-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
  }
  &-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 25px 25px;
  }
}
@media screen and (max-width: 1640px) {
  .category {
    &-items {
		grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media screen and (max-width: 1300px) {
	.category {
	  &-items {
		  grid-template-columns: repeat(3, 1fr);
	  }
	}
  }

  @media screen and (max-width: 1000px) {
	.category {
	  &-items {
		  grid-template-columns: repeat(2, 1fr);
	  }
	}
  }
  @media screen and (max-width: 600px) {
	.category {
	  &-items {
			justify-content: center;
		  grid-template-columns: repeat(1, 1fr);
	  }
	}
  }
