<ion-content>
  @if(products.length > 0) {
  <main class="container">
    <div class="category-searchbox">
      <ion-searchbar
        class="category-searchbox-bar"
        (ionInput)="filterProducts($event)"
      ></ion-searchbar>
    </div>
    <h1 class="category-title">{{category | titlecase }}</h1>
    <div class="category-items">
      @for(product of productsFiltered; track product.id) {
      <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </main>
  }
</ion-content>
