<div class="products-slider-header">
  <h1 class="products-slider-category">{{ category | titlecase }}</h1>
  <div class="products-slider-header-nav">
    <div class="products-slider-header-nav-container">
      <ion-icon
        class="products-slider-header-nav-container-icon swiper-button-prev-{{
          categoryClean
        }}"
        name="chevron-back-outline"
      ></ion-icon>
    </div>
    <div class="products-slider-header-nav-container">
      <ion-icon
        class="products-slider-header-nav-container-icon swiper-button-next-{{
          categoryClean
        }}"
        name="chevron-forward-outline"
      ></ion-icon>
    </div>
  </div>
</div>

<div
  class="swiper-container swiper-{{ categoryClean }} swiper"
  [ngClass]="!init ? 'invisible' : ''"
>
  <div aria-roledescription="carousel" id="hola" class="swiper-wrapper">
    @for (product of innerProducts; track product.id) {
    <div class="swiper-slide">
      <app-product-card [product]="product"></app-product-card>
    </div>
    }
  </div>
</div>
<div [ngClass]="init ? 'invisible' : 'loading'">
  <div class="spinner"></div>
</div>
