@import "swiper/css/pagination";

.swiper {
  width: 100%;
  height: 450px;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--ion-color-primary);
}

.invisible {
	visibility: hidden;
}

.products-slider-category {
	text-transform: capitalize;
}

.swiper-container {
	padding: 16px;
}
