<div class="styled-input-container">
  <label class="styled-input-label">{{ label }}</label>
  <div class="styled-input-component">
    <input
      #input
      class="styled-input-component-input"
      [type]="type"
      [(ngModel)]="val"
      (input)="onInputChange($event)"
      [disabled]="disabled"
      [autocomplete]="autocomplete"
      [placeholder]="placeholder"
    />
  </div>
  @if(msg && submitted) {
  <div [ngClass]="status">
    {{ msg }}
  </div>
  }
</div>
