<ion-content [fullscreen]="true">
  <div class="container">
    <header>
      <p class="home-header-text">Bienvenido/a a la tienda Psonríe</p>
      <p class="home-header-text-subtext">
        Descarga la app para ofertas y novedades
      </p>
      <div class="home-header-image" hidden>
        <img
          class="home-header-image-src"
          src="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg"
        />
      </div>
    </header>
    <main>
      @for(category of categories; track category) {
      <div class="home-main-category">
        <products-slider
          [products]="products"
          [category]="category"
        ></products-slider>
      </div>

      }
    </main>
  </div>
</ion-content>
