.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
}

.cart {
  display: flex;
  flex-direction: row;
  gap: 60px;
  &-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    &-title {
      font-size: xx-large;
      margin-bottom: 20px;
    }
    &-products {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-bottom: 50px;
    }
    &-favourites {
      &-title {
        font-size: xx-large;
        margin-bottom: 20px;
      }
    }
  }
  &-summary {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    &-title {
      margin-bottom: 16px;
    }
    &-subtitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
	  gap: 16px;
    }
    &-total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 18px 0;
      border-top: 1px var(--ion-color-primary-tint) solid;
      border-bottom: 1px var(--ion-color-primary-tint) solid;
    }
  }
  &-favourites {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-title {
      font-size: xx-large;
      margin-bottom: 20px;
    }
    &-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px 25px;
    }
  }
}
@media screen and (max-width: 860px) {
  .cart {
    flex-direction: column;
    gap: 20px;
    &-summary {
      flex: 2;
    }

    &-favourites {
      &-content {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .cart {
    &-favourites {
      &-content {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}